<!DOCTYPE html>
<html>
	<h1>{{.Title}} Ya Montados</h1>
	<table>
		<tr>
			<th>Filesystem</th>
			<th>Mem</th>
			<th>Mount</th>
			<th>UsePercent</th>
		</tr>
		{{range .Todos}}
		{{if ne .Mem 0 }}
		<tr>
			<td>{{.Filesystem}}</td>
			<td>{{.Mem}}</td>
			<td>{{.Mount}}</td>
			<td>{{.UsePercent}}</td>
		</tr>
		{{end}}
		{{end}}
		<div>
		<b>Desmontar un Disco</b>
		</div>
	</table>
		<form method="POST">
		<select  name="diskselected" action="/discosDisponibles">
			<option value="null">Select a Disk</option>
			{{range .Todos}}
			{{if ne .Mem 0 }}
			<option value="{{.Filesystem}}">{{.Filesystem}}</option>
			{{end}}
			{{end}}
		</select>
		  <input type="submit" value="Submit">
		</form>
</html>
