<!DOCTYPE html>
<html>
	<head>
		<title>GAULT</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		    <link rel="stylesheet" type="text/css" href="style.css">
			</head>
	<body>
				<nav>
					<ul>
						<li><a href="/dashboard" target="iframe_content">Dashboard</a></li>
						<li><a href="/discos" target="iframe_content">Discos Montados</a></li>
						<li><a href="/SambaConfi" target="iframe_content">Agregar Samba Share</a></li>
						<li><a href="/smbGlobal" target="iframe_content">Configuraciones de Samba</a></li>
						<li><a href="/discosDisponibles" target="iframe_content">Discos Disponibles</a></li>
						<li><a href="/UserConfig" target="iframe_content">Administracion de Usuarios</a></li>
						<li><a href="/System" target="iframe_content">System</a></li>
						<li><a href="/Nfs" target="iframe_content">NFS</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</nav>
				<iframe src="/dashboard" frameBorder="0" name="iframe_content"></iframe>
	</body>
</html>
