
<!DOCTYPE html>
<html>
	<h1>Logout</h1>
			 <button id="logout" onclick="enviarpost('logout')" value="logout">Logout</button>
			 <div id="res"><div>
		
	<script>
	let val=new Boolean(false);
	function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}
	function enviarpost(buttonid){
		let Data ={Input:document.getElementById(buttonid).value}
		var req = await fetch("/buttons",{method: 'post', body: JSON.stringify(Data)}).then(r =>r.json)
		document.getElementById("res").innerHTML = "<b>Salida</b>";
        	document.getElementById("res").innerHTML = req.CurrentTime
	sleep(2000)
	redirect()
	var val = true
};
	function redirect(){
		window.location='/login'
	}
	</script>
</html>
