<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Samba Global Configuration</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	{{range .Sections}}
	<br>
	<div>
		{{if ne .Title "DEFAULT"}}
		{{.Title}}
		<div>
			{{range .Contents}}
			<b>{{.Variable}}</b>
			<i>{{.Value}}</i>
			<br>
			{{end}}
		</div>
	</div>
	{{end}}
	{{end}}
	<form method="POST">
			<div>WorkGroup:<input type="text" name="WorkGroup" value=""></div>
			<div>NetBios name:<input type="text" name="netbios name" value=""></div>
			<div>Security:<input type="text" name="Security" value=""></div>
			<div>Server String:<input type="text" name="server string" value=""></div>
			<div>Server Role:<input type="text" name="server role" value=""></div>
		<section>
			Hosts to allow:<input type="text" name="hosts allow" />
			Hosts to deny:<input type="text" name="hosts deny" />
		<input type="checkbox" name="LocalsOnly" checked="checked" /> Only local network
		</section>
		<div><input type="checkbox" name="guest account " />Guest account</div>
			<input type="submit" value="submit">
	</form>
	</body>
</html>
